/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 454px 148px auto;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 96px 24px;
}

.header__menu {
  justify-self: center;
  align-self: center;
}

.header__links-list {
  display: flex;
  gap: 31.48px;
  list-style: circle;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  padding: 0 12.56px 7.37px 11.39px;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
}

.header__address {
  justify-self: center;
  align-self: center;
}

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: end;
  width: 1100px;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  height: 355px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: absolute;
  z-index: 3;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 153px;
}

.cover__description-text {
  margin-left: 78px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  background-size: 256px 51px;
}

.lots {
  margin: 179px 24px 0 24px;
  
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
margin-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  height: 563px;
  list-style-type: none;
  margin-top: 27px;
  color: #ffffff;
}

.card-link {
   text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
width: 100%;
height: 100%;
background-position: center;
  background-size: cover;
  
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
 
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 3;
  margin: 51px 40px 0 40px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  z-index: 3;
  margin: 0 40px 48px 40px;
  font-size: 20px;
  font-weight: 400;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 30px;
  }